In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import matplotlib.cm as mplcm
import matplotlib.colors as colors
from sklearn.model_selection import TimeSeriesSplit
from fbprophet import Prophet

In [2]:
dfw = pd.read_csv("../write_data/Dallas-Fort Worth.csv")

In [3]:
zippies = dfw.Zip_code.unique()

In [32]:
df = pd.read_csv("../write_data/zillow_housing_zipcodes.csv")

In [33]:
df.head()

,Date_index,60657,75070,77494,60614,79936,77084,10467,60640,77449,...,3765,84781,12429,97028,12720,1338,3293,40404,81225,89155
0,1996-04-01,334200.0,235700.0,210400.0,498100.0,77300.0,95000.0,152900.0,216500.0,95400.0,...,80800.0,135900.0,78300.0,136200.0,62500.0,94600.0,92700.0,57100.0,191100.0,176400.0
1,1996-05-01,335400.0,236900.0,212200.0,500900.0,77300.0,95200.0,152700.0,216700.0,95600.0,...,80100.0,136300.0,78300.0,136600.0,62600.0,94300.0,92500.0,57300.0,192400.0,176300.0
2,1996-06-01,336500.0,236700.0,212200.0,503100.0,77300.0,95400.0,152600.0,216900.0,95800.0,...,79400.0,136600.0,78200.0,136800.0,62700.0,94000.0,92400.0,57500.0,193700.0,176100.0
3,1996-07-01,337600.0,235400.0,210700.0,504600.0,77300.0,95700.0,152400.0,217000.0,96100.0,...,78600.0,136900.0,78200.0,136800.0,62700.0,93700.0,92200.0,57700.0,195000.0,176000.0
4,1996-08-01,338500.0,233300.0,208300.0,505500.0,77400.0,95900.0,152300.0,217100.0,96400.0,...,77900.0,137100.0,78100.0,136700.0,62700.0,93400.0,92100.0,58000.0,196300.0,175900.0

In [34]:
df['Date_index'] = pd.to_datetime(df['Date_index'])
df = df.set_index('Date_index')
df.head()

,60657,75070,77494,60614,79936,77084,10467,60640,77449,94109,...,3765,84781,12429,97028,12720,1338,3293,40404,81225,89155
Date_index,,,,,,,,,,,,,,,,,,,,,
1996-04-01,334200.0,235700.0,210400.0,498100.0,77300.0,95000.0,152900.0,216500.0,95400.0,766000.0,...,80800.0,135900.0,78300.0,136200.0,62500.0,94600.0,92700.0,57100.0,191100.0,176400.0
1996-05-01,335400.0,236900.0,212200.0,500900.0,77300.0,95200.0,152700.0,216700.0,95600.0,771100.0,...,80100.0,136300.0,78300.0,136600.0,62600.0,94300.0,92500.0,57300.0,192400.0,176300.0
1996-06-01,336500.0,236700.0,212200.0,503100.0,77300.0,95400.0,152600.0,216900.0,95800.0,776500.0,...,79400.0,136600.0,78200.0,136800.0,62700.0,94000.0,92400.0,57500.0,193700.0,176100.0
1996-07-01,337600.0,235400.0,210700.0,504600.0,77300.0,95700.0,152400.0,217000.0,96100.0,781900.0,...,78600.0,136900.0,78200.0,136800.0,62700.0,93700.0,92200.0,57700.0,195000.0,176000.0
1996-08-01,338500.0,233300.0,208300.0,505500.0,77400.0,95900.0,152300.0,217100.0,96400.0,787300.0,...,77900.0,137100.0,78100.0,136700.0,62700.0,93400.0,92100.0,58000.0,196300.0,175900.0

In [38]:
df_annual = df.resample("YS").mean()

In [39]:
df_annual

,60657,75070,77494,60614,79936,77084,10467,60640,77449,94109,...,3765,84781,12429,97028,12720,1338,3293,40404,81225,89155
Date_index,,,,,,,,,,,,,,,,,,,,,
1996-01-01,3.384444e+05,230988.888889,206655.555556,5.034444e+05,77455.555556,95733.333333,152211.111111,217266.666667,96255.555556,7.883444e+05,...,77877.777778,137122.222222,78133.333333,136433.333333,62555.555556,93533.333333,91966.666667,58000.000000,196511.111111,176055.555556
1997-01-01,3.527000e+05,198875.000000,200100.000000,4.990833e+05,77933.333333,95616.666667,152308.333333,227275.000000,97008.333333,8.831250e+05,...,71641.666667,140983.333333,78350.000000,132125.000000,62183.333333,94183.333333,89258.333333,62416.666667,218016.666667,177183.333333
1998-01-01,3.967667e+05,205291.666667,240391.666667,5.616250e+05,79216.666667,97608.333333,156716.666667,260908.333333,101333.333333,1.070767e+06,...,69458.333333,145008.333333,79566.666667,119941.666667,62466.666667,102083.333333,87283.333333,70958.333333,263175.000000,180150.000000
1999-01-01,4.671083e+05,197375.000000,301125.000000,6.519167e+05,81075.000000,104441.666667,166766.666667,313700.000000,112208.333333,1.372342e+06,...,69375.000000,147516.666667,81683.333333,116175.000000,64375.000000,109908.333333,88666.666667,77475.000000,313416.666667,184808.333333
2000-01-01,5.658833e+05,222158.333333,319941.666667,7.513833e+05,82450.000000,105458.333333,183783.333333,379883.333333,124491.666667,1.756550e+06,...,69150.000000,150358.333333,88000.000000,119975.000000,67883.333333,116533.333333,93433.333333,79375.000000,352591.666667,193741.666667
2001-01-01,6.539833e+05,216750.000000,290216.666667,8.538167e+05,79608.333333,107283.333333,204675.000000,440116.666667,116650.000000,2.029275e+06,...,74325.000000,154366.666667,100433.333333,123291.666667,75266.666667,125083.333333,101291.666667,82833.333333,383575.000000,207125.000000
2002-01-01,7.117583e+05,194191.666667,238033.333333,9.321750e+05,79266.666667,112166.666667,230691.666667,489150.000000,115983.333333,2.135667e+06,...,83575.000000,156008.333333,119125.000000,130166.666667,87016.666667,136925.000000,113908.333333,85016.666667,406350.000000,222783.333333
2003-01-01,7.443750e+05,188608.333333,221733.333333,9.941833e+05,81983.333333,116408.333333,250266.666667,525333.333333,120125.000000,2.111233e+06,...,94291.666667,153108.333333,151000.000000,143941.666667,97341.666667,153308.333333,132841.666667,89125.000000,416425.000000,248766.666667
2004-01-01,7.840667e+05,193591.666667,232491.666667,1.039658e+06,88375.000000,122700.000000,286091.666667,559783.333333,127916.666667,2.368533e+06,...,99383.333333,153858.333333,178733.333333,190558.333333,117516.666667,177575.000000,170666.666667,96025.000000,462841.666667,348575.000000
2005-01-01,8.492333e+05,200950.000000,238216.666667,1.114708e+06,97008.333333,126325.000000,340150.000000,635783.333333,129800.000000,2.510875e+06,...,125658.333333,171516.666667,207083.333333,239666.666667,141416.666667,196783.333333,211591.666667,105866.666667,571925.000000,431733.333333
2006-01-01,8.976000e+05,206125.000000,232033.333333,1.165342e+06,108950.000000,127441.666667,385733.333333,728825.000000,130483.333333,2.392717e+06,...,139991.666667,199700.000000,219858.333333,324766.666667,162750.000000,205566.666667,217558.333333,115583.333333,610341.666667,447491.666667
2007-01-01,9.025750e+05,212241.666667,247991.666667,1.178775e+06,128425.000000,130508.333333,409541.666667,741125.000000,135458.333333,2.531942e+06,...,132550.000000,247325.000000,212775.000000,379866.666667,165575.000000,201841.666667,227591.666667,110850.000000,639150.000000,411558.333333
2008-01-01,8.490083e+05,208175.000000,249125.000000,1.118367e+06,126216.666667,127075.000000,387341.666667,689591.666667,131966.666667,2.604992e+06,...,132233.333333,262441.666667,194633.333333,348633.333333,158058.333333,195216.666667,221641.666667,104925.000000,635333.333333,322366.666667
2009-01-01,7.903500e+05,200491.666667,247100.000000,1.013983e+06,119233.333333,122825.000000,332816.666667,653941.666667,125233.333333,2.600483e+06,...,118625.000000,232916.666667,183966.666667,327408.333333,144550.000000,188191.666667,199741.666667,107833.333333,634133.333333,243900.000000
2010-01-01,7.600250e+05,202575.000000,249825.000000,9.646250e+05,117183.333333,121800.000000,327600.000000,611816.666667,123816.666667,2.536708e+06,...,125050.000000,213366.666667,177416.666667,340525.000000,135858.333333,187675.000000,195300.000000,107600.000000,569733.333333,223158.333333
2011-01-01,7.323583e+05,200500.000000,248608.333333,9.199333e+05,116250.000000,116800.000000,315425.000000,582116.666667,118733.333333,2.313942e+06,...,124341.666667,198666.666667,163000.000000,261550.000000,124075.000000,175750.000000,184625.000000,108466.666667,517591.666667,204475.000000
2012-01-01,7.612083e+05,202558.333333,252891.666667,9.662667e+05,112800.000000,112050.000000,298541.666667,552341.666667,115625.000000,2.444867e+06,...,112450.000000,188000.000000,150733.333333,260750.000000,116158.333333,174008.333333,180083.333333,105441.666667,502008.333333,205725.000000
2013-01-01,8.353333e+05,216958.333333,263858.333333,1.079108e+06,112941.666667,117691.666667,318216.666667,576341.666667,122400.000000,3.040258e+06,...,116950.000000,188283.333333,158058.333333,277241.666667,120141.666667,180583.333333,175775.000000,101291.666667,531016.666667,242166.666667
2014-01-01,8.814667e+05,240066.666667,289808.333333,1.163833e+06,113258.333333,129758.333333,325216.666667,620900.000000,133983.333333,3.310217e+06,...,116033.333333,201050.000000,164475.000000,297966.666667,122300.000000,188550.000000,183158.333333,104816.666667,538358.333333,274525.000000
2015-01-01,9.191583e+05,265458.333333,313058.333333,1.196583e+06,115450.000000,143400.000000,356191.666667,688283.333333,147733.333333,3.582758e+06,...,113066.666667,198850.000000,154091.666667,323866.666667,123175.000000,191625.000000,186625.000000,106641.666667,540391.666667,295241.666667
2016-01-01,9.754500e+05,289566.666667,327333.333333,1.247325e+06,114866.666667,153558.333333,376241.666667,736608.333333,164550.000000,3.698742e+06,...,116708.333333,225191.666667,152100.000000,332591.666667,107616.666667,189900.000000,186516.666667,114491.666667,561216.666667,310700.000000
2017-01-01,1.002000e+06,308266.666667,320983.333333,1.286583e+06,118891.666667,159000.000000,399316.666667,776666.666667,168258.333333,3.755775e+06,...,119191.666667,240416.666667,166108.333333,333725.000000,118675.000000,213608.333333,202208.333333,123375.000000,643500.000000,332825.000000
2018-01-01,1.029875e+06,320150.000000,325250.000000,1.306150e+06,120825.000000,163375.000000,414100.000000,781150.000000,174775.000000,3.781800e+06,...,126000.000000,262525.000000,174825.000000,346150.000000,121200.000000,210350.000000,220125.000000,132650.000000,689400.000000,354150.000000

In [64]:
metro_annual = df_annual.mean(axis=1)

In [73]:
metro_annual.pct_change().diff()

Date_index
1996-01-01         NaN
1997-01-01         NaN
1998-01-01    0.027987
1999-01-01    0.016517
2000-01-01    0.018673
2001-01-01   -0.005099
2002-01-01   -0.004632
2003-01-01    0.010561
2004-01-01    0.030880
2005-01-01    0.007745
2006-01-01   -0.066293
2007-01-01   -0.077044
2008-01-01   -0.061551
2009-01-01   -0.008843
2010-01-01    0.039365
2011-01-01   -0.007076
2012-01-01    0.046744
2013-01-01    0.064928
2014-01-01   -0.002021
2015-01-01   -0.003792
2016-01-01    0.002889
2017-01-01    0.006850
2018-01-01   -0.019274
Freq: AS-JAN, dtype: float64

In [66]:
df_annual[str(zippies[0])].pct_change().diff().mean()

0.008456034604763

In [67]:
dfw_apct = [(str(zippy), df_annual[str(zippy)].pct_change().diff().mean()) for zippy in zippies]
dfw_apct

[('75070', 0.008456034604763),
 ('75052', -0.00017205059970875914),
 ('75034', 0.002640109988031029),
 ('75287', 0.0002379257868178),
 ('75243', 0.003334889602910184),
 ('75067', 0.002601947701495334),
 ('76028', 0.0023174589256598314),
 ('76063', 0.001375765408887413),
 ('75228', 0.003674432495635525),
 ('76244', -0.002297386895540086),
 ('75056', 0.0024543038051786105),
 ('75217', 0.004386332898687136),
 ('75206', 0.0010014274593639137),
 ('75035', 0.010495504761636895),
 ('75150', 0.0026796896265800243),
 ('76116', 0.0035608291283206117),
 ('75043', 0.002208280208339461),
 ('75002', 0.0009499987731741274),
 ('75211', 0.0027128984973655407),
 ('75204', 0.00109628725245198),
 ('76179', -0.0007827640577909275),
 ('76137', 0.00178933753748375),
 ('76051', 0.0019159490216374446),
 ('75098', 0.0018535553170588223),
 ('75115', 0.0026304038368676974),
 ('75093', 0.00043320578530476564),
 ('75040', 0.004043028149457915),
 ('75007', 0.0017943365004349232),
 ('75149', 0.0011696443715723405),
 ('75061', 0.0028446842204735965),
 ('75025', 0.007551712257253865),
 ('75231', 0.0030509509214444942),
 ('76133', 0.004178536145545541),
 ('75068', 0.001314595814789427),
 ('75080', 0.002640212378177496),
 ('75071', 0.0018576181004328128),
 ('76010', 0.0041972848949560345),
 ('75074', 0.0023878241861479766),
 ('75219', 0.00030776411474906613),
 ('75023', 0.0026427699297633957),
 ('75024', 0.006308595485874739),
 ('75227', 0.002532751869351646),
 ('75063', -8.151378844725588e-05),
 ('75006', 0.002116900856619784),
 ('75062', 0.003210252925839456),
 ('76112', 0.0034642360929824302),
 ('76017', 0.0011363864657862241),
 ('75214', 0.0007476883052788581),
 ('75248', 0.0007892228090782378),
 ('76039', 0.0033425273425301814),
 ('75104', 0.0030330476910217456),
 ('76108', 0.0019304383015807947),
 ('75019', 0.0018590842106802196),
 ('75126', 0.0016399493492555983),
 ('75165', 0.002658707900124769),
 ('75050', 0.0033272959793395193),
 ('75013', 0.007367429801804455),
 ('76021', 0.00174286068721654),
 ('75044', 0.004102507779167557),
 ('75028', 0.002109503539127348),
 ('76107', 0.004454517040917969),
 ('76119', 0.0012695450378878241),
 ('75060', 0.0022216453283571613),
 ('76180', 0.003219779879860731),
 ('75075', 0.0033023060662478493),
 ('76262', 0.0016778274075471885),
 ('75154', 0.0027504101755939435),
 ('75081', 0.0014153177859618279),
 ('75220', 0.004925015656034378),
 ('76210', 0.000882430226181957),
 ('75069', 0.002963550005836839),
 ('75038', -0.0031634241140227324),
 ('76248', 0.001592126542583307),
 ('75087', 0.0014420500717699223),
 ('76006', 0.0015445318627261152),
 ('76013', 0.0019530093900791993),
 ('75077', -0.0004514402796782713),
 ('76065', 0.0009888536660767372),
 ('75230', -0.0003897663115310289),
 ('76132', 0.00543800332271365),
 ('76131', 0.0012198550475614176),
 ('75252', 0.0017646317941564767),
 ('76227', 0.0021741455902193237),
 ('75238', -0.00044252858361929864),
 ('75051', 0.0033672526602699583),
 ('75033', -0.0019191245160594037),
 ('76049', -0.002116165425472311),
 ('76053', 0.002234377289231154),
 ('75234', 0.004907561800944152),
 ('75254', -0.0011917558261116243),
 ('75042', 0.003313348915652376),
 ('75229', 0.00154513902252007),
 ('75010', 0.0021346040803122916),
 ('76182', 0.0018011237052222402),
 ('76117', 0.0035305371172398925),
 ('76040', 0.00377931988065778),
 ('76016', 0.002115065847806355),
 ('75039', 0.0011716699721757442),
 ('76048', -0.0014897442610914968),
 ('76087', 0.002530705171554425),
 ('75032', 0.0009104340187945528),
 ('76014', 0.004180490607991553),
 ('76020', 0.0019784119389534495),
 ('76012', 0.0023734767710010076),
 ('75224', 0.004557799065131075),
 ('75218', 0.002093870059059863),
 ('76033', 0.0004461437121549376),
 ('75241', 0.007100752542667346),
 ('75089', 0.0016423158444048899),
 ('76001', 0.002053926311386408),
 ('76109', 0.007201681460567153),
 ('76011', 0.002706967299615583),
 ('76123', 0.004945162188302279),
 ('76201', -0.0008222314114528203),
 ('75189', 0.0030902929004028947),
 ('76209', 0.002025226105947464),
 ('75232', 0.0027971069457557135),
 ('75205', -2.7624543978469313e-05),
 ('76226', -0.0026821849618574485),
 ('75041', 0.003309109308401913),
 ('76140', 0.00589348252799436),
 ('76092', 0.0020571803149339912),
 ('75225', -0.00021696024157104508),
 ('76036', 0.003412831914780769),
 ('75160', 0.002462281637337035),
 ('76002', 0.00396011522873954),
 ('76114', 0.008875649173293362),
 ('76126', 0.0012922969292452412),
 ('75001', 0.00029602616975960797),
 ('75201', 0.0011893524540433486),
 ('75119', 0.0012523956883712952),
 ('76034', -0.0003447219739513695),
 ('76208', 0.0002756538632818508),
 ('75082', 0.003369177252617756),
 ('76134', 0.003061083974334662),
 ('75078', 0.02874608273166495),
 ('76018', 0.0026681916444414046),
 ('75088', 0.003096327678633199),
 ('75235', 0.0029294980785013547),
 ('76148', 0.0037474353579832914),
 ('75048', 0.001316476142972806),
 ('75146', 0.0031617826008310296),
 ('75180', 0.005065638833734475),
 ('75022', -0.0010716488972014233),
 ('76135', 0.0027616039207303583),
 ('75237', 0.0028326741315903795),
 ('75181', 0.00031425921538384493),
 ('76009', 0.004293300044528045),
 ('76120', 0.001196765498652293),
 ('76105', 0.001735954986309904),
 ('75402', 0.0022466329429454966),
 ('76015', 0.00404936900747721),
 ('76205', -0.00022708711287858097),
 ('76052', -0.003988899213889653),
 ('75407', 0.002101787660685071),
 ('75209', -0.003163582274790009),
 ('75094', 0.004349043307744512),
 ('76234', -0.0009583431422937605),
 ('75137', 0.0026934480233092913),
 ('76111', 0.005629292705070309),
 ('76058', 0.0031429150719663908),
 ('75253', 0.0028393234915320845),
 ('75474', 0.0011563490985348611),
 ('75116', 0.004470041792560412),
 ('75134', 0.0022642728983503844),
 ('76008', 0.0012183729678300218),
 ('76177', -0.0012940713507380917),
 ('76104', 0.002295912072727523),
 ('75236', 0.0036148508076443006),
 ('75159', 0.0024654501621539475),
 ('76022', 0.0019943773442810267),
 ('75409', 0.0013123575136649592),
 ('76266', -0.00029470753284501665),
 ('76118', 0.00206521743571143),
 ('76207', -0.0003917097054695657),
 ('75244', 0.0037653752712721073),
 ('75057', 0.004396985972268912),
 ('76247', 0.001265065979395384),
 ('76103', 0.007128937755365754),
 ('75009', 0.0034278813388407916),
 ('75065', 0.00302091765228763),
 ('76054', 0.0014087911882684687),
 ('75249', 0.002035373202046408),
 ('75233', 0.004060904955896278),
 ('76164', 0.003835392790315745),
 ('76426', -0.0035797083624016604),
 ('75428', 0.00014089214293368433),
 ('75442', -0.002074315013351176),
 ('75454', 0.002193421106827393),
 ('76078', -0.0016503340582850745),
 ('75167', 0.003192926914136788),
 ('76249', 0.0008433460654228696),
 ('76060', 0.0028948891191423317),
 ('75210', 0.054888888495614095),
 ('76043', -0.002520931573812655),
 ('76084', 0.0036552707941058223),
 ('76258', 0.003323381762391981),
 ('76023', 0.0019380885134256953),
 ('76050', 0.004991409678163858),
 ('75135', 0.003474224418638729),
 ('76073', -0.0006122390120631057),
 ('75173', 0.0024170159360398817),
 ('76259', 7.286426523032236e-05),
 ('75182', 0.002484527574136086),
 ('76059', -0.00045868597738625496),
 ('75166', 0.0019973003680719336),
 ('76071', 0.0015303330874136638),
 ('76431', -0.00403886486284651),
 ('75453', 1.781745716186326e-05),
 ('75496', 0.00019795242096585337),
 ('75141', 0.006183461347868603),
 ('76225', -0.0018987438947716633),
 ('75422', 0.0017144664276860127),
 ('75423', -0.001342067200712071),
 ('76093', 0.0017108290136571345),
 ('76005', -0.0006731167190397748),
 ('76064', -0.00048644530426997365)]

In [68]:
dfw_apct_df = pd.DataFrame(dfw_apct, columns=['zip_code', 'annual_pct_change'])

In [69]:
dfw_five = dfw_apct_df.nlargest(5, "annual_pct_change")

In [70]:
dfw_five

    zip_code  annual_pct_change
193    75210           0.054889
135    75078           0.028746
13     75035           0.010496
126    76114           0.008876
0      75070           0.008456

In [71]:
dfw[dfw.Zip_code == 75210]

,Unnamed: 0,RegionName,City,State,Metro,CountyName,time,value,ds,yhat_lower,yhat,yhat_upper,Zip_code,log_value,log_yhat
193,193,75210,Dallas,TX,Dallas-Fort Worth,Dallas,1996-04-01,NaN,1996-04-01,192659.719772,194333.370463,196072.678922,75210,NaN,12.177330
410,410,75210,Dallas,TX,Dallas-Fort Worth,Dallas,1996-05-01,NaN,1996-05-01,193090.214618,194771.156903,196446.396611,75210,NaN,12.179581
627,627,75210,Dallas,TX,Dallas-Fort Worth,Dallas,1996-06-01,NaN,1996-06-01,192716.848644,194419.794136,196086.353922,75210,NaN,12.177775
844,844,75210,Dallas,TX,Dallas-Fort Worth,Dallas,1996-07-01,NaN,1996-07-01,190891.919140,192481.847523,194221.484411,75210,NaN,12.167757
1061,1061,75210,Dallas,TX,Dallas-Fort Worth,Dallas,1996-08-01,NaN,1996-08-01,188861.518094,190571.139677,192313.696765,75210,NaN,12.157781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56613,56613,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-12-01,70900.0,2017-12-01,70002.457741,71651.890044,73419.572795,75210,11.169026,11.179575
56830,56830,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2018-01-01,72900.0,2018-01-01,70559.525308,72200.421100,73889.570701,75210,11.196844,11.187201
57047,57047,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2018-02-01,75100.0,2018-02-01,71883.546564,73753.332274,75405.946595,75210,11.226576,11.208481
57264,57264,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2018-03-01,76900.0,2018-03-01,73389.925266,75142.549812,76825.569774,75210,11.250261,11.227142
57481,57481,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2018-04-01,77300.0,2018-04-01,74672.752496,76306.070062,78086.326185,75210,11.255449,11.242508

In [49]:
dfw[dfw.Zip_code == 75210]['value'].isnull().sum()

213

In [ ]:
df[(df[Gender]=='Male') & (df[Year]==2014)]

In [61]:
dfw[(dfw['RegionName'] == 75210) & (dfw['time'] >= '2013-06-01')]

,Unnamed: 0,RegionName,City,State,Metro,CountyName,time,value,ds,yhat_lower,yhat,yhat_upper,Zip_code,log_value,log_yhat
44895,44895,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2013-06-01,NaN,2013-06-01,61988.314736,63755.939800,65510.962376,75210,NaN,11.062818
45112,45112,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2013-07-01,NaN,2013-07-01,60574.364627,62453.474181,64151.376449,75210,NaN,11.042177
45329,45329,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2013-08-01,NaN,2013-08-01,59405.804367,61123.773535,62907.114140,75210,NaN,11.020656
45546,45546,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2013-09-01,NaN,2013-09-01,58574.878551,60260.740035,62013.754998,75210,NaN,11.006436
45763,45763,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2013-10-01,NaN,2013-10-01,58342.794163,60082.074021,61731.668643,75210,NaN,11.003467
45980,45980,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2013-11-01,NaN,2013-11-01,58298.938071,60114.004392,61748.969002,75210,NaN,11.003998
46197,46197,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2013-12-01,NaN,2013-12-01,57446.587507,59257.875970,60984.901646,75210,NaN,10.989654
46414,46414,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2014-01-01,58600.0,2014-01-01,56383.603206,58088.651406,59818.266094,75210,10.978490,10.969726
46631,46631,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2014-02-01,58600.0,2014-02-01,56239.695783,57923.806959,59718.536739,75210,10.978490,10.966884
46848,46848,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2014-03-01,57500.0,2014-03-01,55983.235718,57761.503291,59535.497228,75210,10.959540,10.964078
47065,47065,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2014-04-01,57500.0,2014-04-01,55560.941628,57207.267925,58977.138988,75210,10.959540,10.954436
47282,47282,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2014-05-01,57100.0,2014-05-01,54703.271423,56402.899095,58266.768618,75210,10.952559,10.940276
47499,47499,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2014-06-01,55300.0,2014-06-01,53799.642865,55477.774582,57122.618063,75210,10.920528,10.923738
47716,47716,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2014-07-01,54100.0,2014-07-01,53119.400693,54825.954414,56533.374206,75210,10.898589,10.911919
47933,47933,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2014-08-01,53700.0,2014-08-01,52359.594512,54065.386324,55786.830228,75210,10.891168,10.897949
48150,48150,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2014-09-01,53000.0,2014-09-01,51238.402961,53045.668409,54866.146916,75210,10.878047,10.878908
48367,48367,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2014-10-01,52100.0,2014-10-01,50541.139473,52240.402805,54014.861427,75210,10.860920,10.863611
48584,48584,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2014-11-01,51700.0,2014-11-01,50274.151077,51939.546500,53660.174335,75210,10.853213,10.857836
48801,48801,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2014-12-01,51600.0,2014-12-01,49817.376974,51646.701824,53379.509062,75210,10.851277,10.852182
49018,49018,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2015-01-01,51700.0,2015-01-01,50162.707256,51774.377488,53567.623540,75210,10.853213,10.854651
49235,49235,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2015-02-01,52300.0,2015-02-01,50299.821854,52059.487975,53687.593310,75210,10.864752,10.860142
49452,49452,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2015-03-01,53200.0,2015-03-01,52201.469683,53860.705804,55598.991655,75210,10.881814,10.894156
49669,49669,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2015-04-01,53700.0,2015-04-01,52335.304133,54077.386137,55756.001262,75210,10.891168,10.898171
49886,49886,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2015-05-01,53500.0,2015-05-01,51857.264855,53712.403334,55493.507518,75210,10.887437,10.891399
50103,50103,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2015-06-01,53700.0,2015-06-01,51898.607302,53624.233142,55274.299768,75210,10.891168,10.889756
50320,50320,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2015-07-01,54800.0,2015-07-01,52900.478614,54695.791815,56486.318906,75210,10.911445,10.909542
50537,50537,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2015-08-01,55500.0,2015-08-01,53828.920616,55585.681094,57241.869395,75210,10.924138,10.925681
50754,50754,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2015-09-01,55500.0,2015-09-01,53798.607838,55483.574626,57243.847020,75210,10.924138,10.923842
50971,50971,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2015-10-01,55600.0,2015-10-01,53249.091319,55106.391151,56782.957189,75210,10.925938,10.917021
51188,51188,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2015-11-01,56200.0,2015-11-01,53815.728368,55582.920797,57365.652303,75210,10.936672,10.925631
51405,51405,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2015-12-01,57000.0,2015-12-01,55264.479492,56921.610959,58692.049886,75210,10.950807,10.949430
51622,51622,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2016-01-01,56900.0,2016-01-01,55576.230392,57246.307228,59047.873362,75210,10.949051,10.955118
51839,51839,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2016-02-01,56300.0,2016-02-01,55204.967121,56897.264495,58660.085456,75210,10.938450,10.949003
52056,52056,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2016-03-01,56500.0,2016-03-01,55813.701908,57414.384086,59005.552667,75210,10.941996,10.958050
52273,52273,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2016-04-01,58100.0,2016-04-01,56784.321071,58543.402226,60396.022998,75210,10.969921,10.977524
52490,52490,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2016-05-01,59700.0,2016-05-01,58140.182254,60040.346539,61579.882613,75210,10.997087,11.002772
52707,52707,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2016-06-01,60700.0,2016-06-01,59008.336465,60783.446907,62372.507668,75210,11.013699,11.015073
52924,52924,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2016-07-01,59900.0,2016-07-01,58195.531996,59904.658167,61643.939720,75210,11.000432,11.000510
53141,53141,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2016-08-01,59500.0,2016-08-01,57481.601819,59088.413454,60755.066570,75210,10.993732,10.986790
53358,53358,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2016-09-01,60700.0,2016-09-01,57808.180359,59456.262533,61073.303954,75210,11.013699,10.992996
53575,53575,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2016-10-01,63100.0,2016-10-01,59333.392667,60958.681300,62715.718837,75210,11.052476,11.017952
53792,53792,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2016-11-01,64500.0,2016-11-01,60835.938845,62433.894312,64050.255198,75210,11.074421,11.041864
54009,54009,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2016-12-01,62800.0,2016-12-01,60482.958852,62084.909669,63863.305903,75210,11.047710,11.036258
54226,54226,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-01-01,61000.0,2017-01-01,60173.785825,61795.507594,63494.059380,75210,11.018629,11.031586
54443,54443,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-02-01,61700.0,2017-02-01,61624.011492,63372.536806,65170.977332,75210,11.030039,11.056786
54660,54660,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-03-01,63300.0,2017-03-01,61606.650136,63220.083669,64833.086523,75210,11.055641,11.054377
54877,54877,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-04-01,63600.0,2017-04-01,62415.717417,64064.421457,65832.789881,75210,11.060369,11.067644
55094,55094,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-05-01,64800.0,2017-05-01,63131.826937,64940.062544,66734.511474,75210,11.079061,11.081220
55311,55311,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-06-01,66200.0,2017-06-01,64295.398573,66009.654565,67804.696113,75210,11.100436,11.097556
55528,55528,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-07-01,67000.0,2017-07-01,64633.360623,66369.533095,68059.346567,75210,11.112448,11.102993
55745,55745,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-08-01,66800.0,2017-08-01,64868.204724,66757.588069,68355.804809,75210,11.109458,11.108823
55962,55962,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-09-01,66400.0,2017-09-01,65932.077661,67612.310190,69302.421226,75210,11.103452,11.121545
56179,56179,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-10-01,66600.0,2017-10-01,67356.999276,69095.988326,70916.231482,75210,11.106460,11.143252
56396,56396,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-11-01,68400.0,2017-11-01,69136.758811,70845.674317,72556.769175,75210,11.133128,11.168259
56613,56613,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2017-12-01,70900.0,2017-12-01,70002.457741,71651.890044,73419.572795,75210,11.169026,11.179575
56830,56830,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2018-01-01,72900.0,2018-01-01,70559.525308,72200.421100,73889.570701,75210,11.196844,11.187201
57047,57047,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2018-02-01,75100.0,2018-02-01,71883.546564,73753.332274,75405.946595,75210,11.226576,11.208481
57264,57264,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2018-03-01,76900.0,2018-03-01,73389.925266,75142.549812,76825.569774,75210,11.250261,11.227142
57481,57481,75210,Dallas,TX,Dallas-Fort Worth,Dallas,2018-04-01,77300.0,2018-04-01,74672.752496,76306.070062,78086.326185,75210,11.255449,11.242508